@import url('./css-reset-tailwind.css');

html {
  font-family: arial;
}

ul.list {
  list-style: disc;
}
ul.list li {
  margin-left: 1rem;
}
a {
  color: rgb(233, 233, 233);
}
a:hover {
  color: red;
}

#canvas-stage, #canvas-container {
  position: relative;
  height: 400px;
  width: 400px;
}
#canvas-stage {
  border: 1px solid black;
  overflow: hidden;
  height: 100%;
  width: 100%;
  background-image: url('./src/images/space_02.jpg');
  background-size: cover;
}

#canvas-container {
  /* transition: left 1s, top 1s; */
}

#canvas-stage canvas {
  position: absolute;
  overflow: visible;
  cursor: pointer;
}

.map-container {
  margin: 2rem auto;
  /* transform: rotate(-45deg); */
  border: 2px solid #39B0E1;
  height: 100px;
  width: 100px;
  box-sizing:content-box;
}
.map-container.rotation-0 {
  transform: rotate(-45deg);
}
.map-container.rotation-1 {
  transform: rotate(225deg);
}
.map-container.rotation-2 {
  transform: rotate(135deg);
}
.map-container.rotation-3 {
  transform: rotate(45deg);
}

#minimap-canvas {
  transform-origin: 0 0;
  border: none !important;
  image-rendering: pixelated;;
}

.zoom-2 #canvas-grid, .zoom-1 #canvas-grid {
  opacity: 0.5;
}